@model IEnumerable<Inmobiliaria_Peluffo.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
}
<div class="text-center">
    <h1>Listado de Inmuebles</h1>
</div>
<p>
    <a class="btn btn-success" asp-action="Create"><i class="far fa-plus-square"></i> Crear Nuevo Inmueble</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            @{
                if(ViewBag.Propietario < 1){
                    <th>
                        @Html.DisplayNameFor(model => model.PropietarioId)
                    </th>
                }
            }
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @{
                    if(item.Estado == true){
                        <div class="verdadero">
                            <div class="text-center">
                                <i class="fas fa-check">Activo</i>
                            </div>
                        </div>
                    }else{
                        <div class="falso">
                            <div class="text-center">
                                <i class="fas fa-times">Desactivo</i>
                            </div>
                        </div>
                    }
                }
            </td>
            @{
                if(ViewBag.Propietario < 1){
                    <td>
                        @(item.Propietario.Apellido + " " + item.Propietario.Nombre)
                    </td>
                }
            }
            <td>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group btn-group-sm" role="group" aria-label="First group">
				        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id" title="Editar">
                            <i class="far fa-edit"></i> Editar
                        </a>
                    </div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Second group">
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id" title="Detalles">
                            <i class="fas fa-info-circle"></i> Detalles
                        </a>
                    </div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Third group">
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" title="Borrar">
                            <i class="far fa-trash-alt"></i> Borrar
                        </a>
                    </div>
                </div>
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id" title="Detalles">
                    <i class="fas fa-file-contract"></i> Contratos
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @{
        if(ViewBag.Propietario > 0){
            <a class="btn btn-primary btn-sm" asp-action="Index" asp-controller="Propietarios" title="Propietarios">
                <i class="fas fa-user-tie"></i> Volver al Listado</a>
        }
    }
</div>
