@model IEnumerable<Inmobiliaria_Peluffo.Models.Pago>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NroPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContratoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NroPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @(item.Contrato.Inquilino.Dni + " - " + item.Contrato.Inmueble.Direccion)
            </td>
            <td>
                @Html.ActionLink("Edita", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Detailes", "Details", new { id=item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
