@model IEnumerable<Inmobiliaria_Peluffo.Models.Pago>

@{
    ViewData["Title"] = "Pagos";
}
<div class="text-center">
    <h1>Pagos @(ViewBag.Contrato > 0 ? " del contrato " + ViewBag.Dato : "")</h1>
</div>
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#pagoModal">
  <i class="far fa-plus-square"></i> Crear Nuevo Pago
</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NroPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            @{
                if(ViewBag.Contrato < 1){
                    
                    <th>
                        @Html.DisplayNameFor(model => model.ContratoId)
                    </th>
                }
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NroPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            @{
                if(ViewBag.Contrato < 1){
                    
                    <td>
                        @(item.Contrato.Inquilino.Dni + " - " + item.Contrato.Inmueble.Direccion)
                    </td>
                }
            }
            
            <td>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group btn-group-sm" role="group" aria-label="First group">
				        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id" title="Editar">
                            <i class="far fa-edit"></i> Editar
                        </a>
                    </div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Second group">
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id" title="Detalles">
                            <i class="fas fa-info-circle"></i> Detalles
                        </a>
                    </div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Third group">
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" title="Borrar">
                            <i class="far fa-trash-alt"></i> Borrar
                        </a>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a class="btn btn-primary btn-sm" asp-action="Index" asp-controller="Contratos" >
        <i class="fas fa-file-contract"></i> Volver a Contratos</a>
</div>
<div class="modal fade" id="pagoModal" tabindex="-1" role="dialog" aria-labelledby="pagoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pagoModalLabel">Crear Pago</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="ContratoId" value="@ViewBag.Contrato"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Número de Pago</label>
                            <input type="Text" class="form-control" name="NroPago" value="@ViewBag.Nro" readonly/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Monto</label>
                            <input class="form-control" name="Monto"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Crear" class="btn btn-primary" />
                        </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
