@model IEnumerable<Inmobiliaria_Peluffo.Models.Propietario>

@{
    ViewData["Title"] = "Propietarios";
}
<div class="text-center">
    <h1>Listado de Propietarios</h1>
</div>
<p>
    <a class="btn btn-success" asp-action="Create"><i class="far fa-plus-square"></i> Cargar Nuevo Propietario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
            <th>
                Inmuebles
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group btn-group-sm" role="group" aria-label="First group">
				        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id" title="Editar">
                            <i class="far fa-edit"></i> Editar
                        </a>
                    </div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Second group">
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id" title="Detalles">
                            <i class="fas fa-info-circle"></i> Detalles
                        </a>
                    </div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Third group">
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" title="Borrar">
                            <i class="far fa-trash-alt"></i> Borrar
                        </a>
                    </div>
                </div>
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-action="Index" asp-controller="Inmuebles" asp-route-id="@item.Id" title="Inmuebles">
                    <i class="fas fa-hotel"></i> Inmuebles</a>
            </td>
        </tr>
}
    </tbody>
</table>
